<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>New Clients</title>
</head>
<body>
<div align="center">
    <h2>New Customer</h2>
    <form action="save" method="post" modelAttribute="customer">
        <table border="0" cellpadding="5">
            <tr>
                <td>Name: </td>
                <td><input name="name" /></td>
            </tr>
            <tr>
                <td>Number: </td>
                <td><input name="number" /></td>
            </tr>
            <tr>
                <td>Date: </td>
                <td><input name="date" /></td>
            </tr>
            <tr>
                <td>Zone: </td>
                <td><input name="zone" /></td>
            </tr>
            <tr>
                <td>Params: </td>
                <td><input name="params" /></td>
            </tr>
            <tr>
                <td>Price: </td>
                <td><input name="price" /></td>
            </tr>
            <tr>
                <td>Comments: </td>
                <td><input name="comments" /></td>
            </tr>
            <tr>
                <td>Master name: </td>
                <td><input name="masterName" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>